.about {
  display: flex;
  padding: 8rem 0;
  width: 100%;
  //   align-items: center;
  justify-content: center;
  .container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    // padding: 4rem;
    align-items: center;
    justify-content: center;
    .leftSec {
      img {
        width: 28rem;
        border-radius: 50px;
      }
    }
    .rightSec {
      align-items: center;
      max-width: 32rem;
      //   margin-left: 3rem;
      .note {
        color: #147efb;
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .content {
        color: #919191;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {
    padding: 4rem 0;
    .container {
      margin: 1.2rem;
      text-align: center;
      .leftSec {
        img {
          width: 15rem;
        }
      }
    }
  }
}
